PORT=8000
MONGODB_URI=mongodb+srv://kkg242003:karan@24@cluster0.vmfpx.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=any-random-string
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=any-random-string
REFRESH_TOKEN_EXPIRY=10d